* {
    box-sizing: border-box;
}
body {
    background-color: lightgray;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.pic-1, .pic-2 {
    visibility: collapse;
}
header {
    background-color: gray;
    display: flex;
    text-align: center;
    flex-direction: column;
}
form {
    background-color: gray;
    display: flex;
    flex-direction: column;
    
}

#answer-1, #answer-2, #answer-3, #answer-4 {
    display: inline;
    margin-left: 50px;
}
h2 {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
}
p, section{
    margin-bottom: 10px;
    background-color: gray; 
    display: flex;
    text-align: center;
    flex-direction: column;
}
footer {
    background-color: gray; 
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0;
}
 @media only screen and (min-width: 650px){
    .pic-2, .pic-1 {
        visibility: collapse;
    }
    form {
        margin: auto;
        flex-direction: column;
        text-align: left;
        width: 50%;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    p {
        margin: auto;
        flex-direction: column;
        text-align: center;
        width: 50%;
        margin-bottom: 30px;
    }
    h2 {
        text-align: center;
        margin-left: 0;
    }
    section {
        margin-bottom: 50px;
        width: 75%;
        margin: auto;
        flex-direction: column;
        text-align: center;
    }
    footer {
        margin-top: 50px;
    }
} 
@media only screen and (min-width: 900px){
main {
    display: flex;
    margin: 5px;
    flex-direction: row;
}
form {
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.pic-1, .pic-2 {
    visibility: visible;
    width: 30%;
    border: 2pt solid black;
}
}